<h1>Make a profile Page here!!!</h1>
<P> User will see this page after they login!!!</P>
<div>
  <button class="btn btn-dark" (click)="Modify()">
    Change Profile Settings</button
  ><br />
  <button class="btn" (click)="add()">Add Ingredients</button><br />
  <button class="btn" (click)="viewPrevious()">View Previous</button><br />
  <button class="btn" (click)="viewFavorite()">View Favorites</button><br />
  <button class="btn" (click)="LogOut()">Log Out</button><br />
</div>

<form action="http://www.recipepuppy.com/" method="get" style="font-size: 10px">
  <b style="font-size: 14px">Recipe Search by Ingredients:</b>
  <input
    type="text"
    name="i"
    id="i"
    value="Enter ingredients separated by commas"
    size="31"
    style="color: gray; font-size: 11px"
    onfocus="if(this.style.color=='gray'){this.style.color='black';this.value='';}"
    onblur="if(this.value==''){this.style.color='gray';this.value='Enter ingredients separated by commas';}"
  />
  <input type="submit" value="Search" style="font-size: 11px" />
  <br />Powered by
  <a href="http://www.recipepuppy.com" style="font-size: 10px">Recipe Puppy</a>
</form>
