.Recipe {
  height: 100px;
  /* overflow: auto; */
  border: 1px solid black;
  align-self: center;
  padding: 5px;
}
.thumbnail {
  float: left;
  align-self: center;
  /* width: 20%; */
}
.TitleandRating {
  /* border: 1px solid black; */
  float: right;
  width: 60%;
}

.Recipe-Title {
  z-index: 1;
  margin:auto;
  text-align: center;
}
span {
  margin: auto;
}
.Rating {
  /* border: 1px solid red; */
  z-index: 2;
  text-align: center;
  font-size: 20px;
  
}
.container {
  display: table;
  width: 100%;
}

.left-side {
  top: 25%;
  position: absolute;
  left: 50px;
  width: 35%;
}

.right-side {
  top: 25%;
  position: absolute;
  right: 75px;
  width: 50%;
  text-align: center;
}
#viewFavorites #viewPrevious{
  text-align: left;
}
#leftview {
  border: 1px solid black;
  padding: 5px;
}
#searchbutton {
  float: right;
}
#title {
  font-size: 20px;
}

.ng-autocomplete {
  font-size: xx-small;
}

.ng-template{
  font-size: small;
}
