input {
  width: 200px;
  
  }
  button {
    border: medium solid black;
  }
  
  form {
    border: medium solid black;
    margin: 0 auto;
    width:250px;
  }
h1 {
  margin: 50px;
}

p {
  margin: 50px;
}

div{
  margin:auto;
  border-style: solid;
  border-color: black;
}

.title {
  font-size: 30px;
  color: white;
}

.navbar{
  height: 100px;
}