<h1 class="jumbotron">Welcome to Pantry Meals</h1>
<body>
  <div margin="50px">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label>
        Username :<input
          id="usernameBox"
          type="text"
          placeholder="Enter Username"
          formControlName="Username"
        /> </label>
      <br/>
      <label>
        Password :
        <input
          id="passwordBox"
          type="text"
          placeholder="Enter Password"
          formControlName="Password" /></label>
        <br/>
      <button class="btn btn-primary btn-lg" type="submit" (click)="Login()">Submit</button>
      <button
        class="btn btn-secondary btn-lg"
        type="button"
        (click)="goToRegister()"
      >
        Register
      </button>
    </form>
  </div>
</body>
