div {
  margin: 150px 150px auto;
}
h1 {
  margin: 50px;
}

input {


}
button {
  border: medium solid black;
  margin: 10px;}

form {
  border: medium solid black;
  margin: 10px;
}
.title {
  font-size: 30px;
  color: white;
}

.navbar{
  height: 100px;
}