.title {
    font-size: 30px;
    color: white;
  }
  
  .navbar{
    height: 100px;
  }

  input {
    width: 200px;
    
    }
    
    form {
      border: medium solid black;
      margin: 0 auto;
      width:250px;
    }