<nav class="navbar navbar-dark bg-dark" id="navbar">
  <h1 class="title"> Pantry Meals</h1>
</nav>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" orient="vertical">
  <label> Username:&nbsp;&nbsp;<input class="form-control" placeholder="Username" type="text"
      formControlName="Username" /> </label><br />
  <label> Password:&nbsp;&nbsp;<input class="form-control" placeholder="Password" type="text"
      formControlName="Password" /></label><br />
  <label> First Name:<input class="form-control" type="text" placeholder="First Name"
      formControlName="First" /></label><br />
  <label> Last Name:&nbsp;<input class="form-control" placeholder="Last Name" type="text"
      formControlName="Last" /></label><br />
  <label> Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input placeholder="Email" type="text"
      class="form-control" formControlName="Email" /></label><br />
  <button class="btn btn-primary" type="submit">Submit</button>
  <button class="btn btn-primary" type="submit" (click)="Back()">Back</button>

</form>