<nav class="navbar navbar-dark bg-dark" id="navbar">
  <h1 class="title"> Pantry Meals</h1>
</nav>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" orient="vertical">
  <label> Username:<input type="text" formControlName="username" /> </label><br />
  <label> Password:<input type="text" formControlName="password" /></label><br />
  <label> First Name:<input type="text" formControlName="firstName" /></label><br />
  <label> Last Name:<input type="text" formControlName="lastName" /></label><br />
  <label> Email:<input type="text" formControlName="email" /></label><br />
  <button type="submit">Submit</button>
</form>