<h1>Please enter your information below!!</h1>

<form [formGroup]="RegisterForm" (ngSubmit)="onSubmit(RegisterForm.value)">
  <div>
    <label for="UserNameInput"> Username </label>
    <input id="UserNameInput" type="text" formControlName="UserNameInput" />
  </div>
  <div>
    <label for="PasswordInput"> Password </label>
    <input id="PasswordInput" type="text" formControlName="PasswordInput" />
  </div>
  <div>
    <label for="FirstNameInput"> First Name </label>
    <input id="FirstNameInput" type="text" formControlName="FirstNameInput" />
  </div>
  <div>
    <label for="LastNameInput"> Last Name </label>
    <input id="LastNameInput" type="text" formControlName="LastNameInput" />
  </div>
  <button class="button" type="submit">Register</button>
</form>

<button class="button" type="button" onclick="GoBack()">Cancel</button>
