<!--<app-login-form></app-login-form>-->
<!--<app-new-ingredient></app-new-ingredient>-->
<!--<app-register-form></app-register-form>-->
<!--<app-profile></app-profile>-->
<!--<app-modify-user></app-modify-user>-->
<!--<app-recipe-table></app-recipe-table>-->
<a routerLink="/profile">Profile</a> <br />
<a routerLink="/login-form">Login</a><br />
<a routerLink="/register-form">Register</a><br />
<a routerLink="/recipe-table">recipe-table</a><br />
<a routerLink="/new-ingredient">New Ingredient</a><br />
<a routerLink="/Modify-User">Modify User</a><br />

<router-outlet></router-outlet>
